<div class="wrapper">
    <form class="form-signin">       
      <h2 class="form-signin-heading">Please login</h2>
      <input type="text" class="form-control" name="email" placeholder="Email Address" required="" autofocus="" 
      [(ngModel)]="email" #em="ngModel" />
      <div [hidden]="em.valid || em.pristine" class="alert callout">
          Email is required
        </div>
      <input type="password" class="form-control" name="password" placeholder="Password" required="" 
      [(ngModel)]="password" #pwd="ngModel" />      
       <div [hidden]="pwd.valid || pwd.pristine" class="alert callout">
          Password required
        </div>
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="login()" >Login</button>   
    </form>
  </div>